
a:link { color: #a37a51; text-decoration: none; }

#page {
    width: 100%;
    height: 2000px;
    margin: 0px auto 2% auto;
    padding: 0;
    border-style: solid;
    background-color: white;
    border-color: #dcb;
    border-width: 0px 3px 3px 3px;
    text-align: left;
}

#content {
    float: left;
    padding: 0;
    width: 1000px;
    margin: 0px 10px 0px 20px;
}

#presentation {
   padding: 50px 0px 30px 20px;
   margin: 30px;
   line-height: 1.;
   list-style-type: none;
   font: 10pt/12pt arial;
   border: 0pt solid #663300;
   width: 725px;
}

#navone {
   margin: 0;
   padding: 0;
   height: 17px;
   list-style-type: none;
   border-color: #147;
   border-style: solid;
   border-width: 1px 1px 0 0;
}

#navone li {
   margin: 0;
   padding: 0;
   float: left;
   width: 160px;
   height: 20px;
}

.com {
   width: 50em;
   height: 2em;
   border: 1px solid #333;
   box-shadow: 8px 8px 5px #444;
   padding: 8px 12px;
}

.args {
   width: 50em;
   padding: 8px 12px;
}

#footer {
   border: none;
   margin: 100px 0px 0px 0;
   padding: 80px 0 0 900px;
   clear: both;
}

#footer a:link, #footer a:visited {
   margin-right: 20px;
}

/* Spacing and title fonts */

h1          { margin: 20px  0  0  20px; padding: 0; font-size: 1.6em; }
h2, h3, h4  { margin: 15px  0 7.5px 0; padding: 0; font-size: 1.2em; }

h1, h2, h3, h4 {
   font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
   font-weight: bold;
   color: #886643;
   text-decoration: none;
}

#header {
   padding: 10px 0 0 0; margin: 0;
   font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#header, #header a {
   background-color: #dcb;
   color: #886643;
   text-decoration: none;
}

#t-site {
   text-align: left;
   float: left;
   width:49%;
   padding: 0 0 0 20px;
   font-size: 2em;
   font-weight: bold;
}

#st-site {
   text-align: left;
   float: right;
   width: 49%;
   margin: 0; 
   padding: 0;
   font-size: 1.2em;
}

hr.clear {
   clear: both;
   visibility: hidden;
   margin: 5px;
   padding: 0;
}

/* Element fonts, sizes and colors */

page {
   background-color: white;
   color: inherit;
}

#text {
   padding: 5px 0px 10px 20px;
   margin: 1em 0%;
   margin-top: 0px;
   line-height: 1.;
   font: 10pt/14pt arial;
   width: 900px;
   border: 0.pt;
}

text li {
   list-style-type: decimal;
   padding: 20px;
}

#cours li {
   list-style-type: decimal;
   padding: 1px;
}


span.text { font-size: 10 pt; color:#000000 }
span.emtext { font-size: 10 pt; color:blue }
span.kw { font-size: 10 pt; font-weight: bold; color: #660033 }
span.cmd { font-size: 10 pt; color:#0044ff }
span.var { font-size: 10 pt; color:#0044ff }
span.vvar { font-size: 10 pt; color:#100e63; font-weight: bold }
span.src { font-size: 10 pt; color:#2e86c1; font-family: monospace; }
span.logo { font-size: 10 pt; color:#2f64a6; font-weight: bold }

#navone li {
   text-align: center;
   font-size: 1.2em;
}

#navone, #navone a  {
   background-color: #dcb;
   color: #333;
}

#navone li:hover, #navone li:hover a, #navonecur, #navonecur a {
   background-color: #886643;
   color: white;
   text-decoration: none;
   height: 17px;
}

#navone {
   margin-top: 0;
}

#navonecur, #navonecur a {
   font-weight: bold;
}

#content p {
   margin: 5px 0;
   padding: 0;
   text-indent: 0;
}

#content p.rem {
   font-size: 0.9em;
   font-style: italic;
   color: gray;
}

#content p.noindent {
   text-indent: 0;
}

small {
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 0.9em;
}

#navtwo {
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 0.9em;
   text-align: left;
}

#navtwocur {
   color: #147;
}

#sidebar {
   font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

small, blockquote, strike, #navtwo, .rem {
   color: gray;
}

code {
   font: 1.1em 'Courier New', Courier, Fixed;
}

acronym, abbr, span.caps
{
   font-size: 0.9em;
   letter-spacing: .07em;
}

a { color: #06c; text-decoration: none; }
a:hover {  text-decoration: underline; }
a:visited { color: #cc3300; }

h1>a, h2>a, h3>a, h4>a { color: #147; }
h1>a:visited, h2>a:visited, h3>a:visited, h4>a { color: #147; }

/* End Typography & Colors */

/* Begin Structure */
body {
   margin: 0;
   padding: 0;
}

#page {
   background-color: #FAFAFA;
}

#content {
   text-align: justify;
   font-size: 1.2em
}

#photo {
   position: absolute;
   top: 90px;
   width: 950px;
   margin: 0px auto 20px auto;
   padding: 0;
}

/* End Structure */

/* Begin Images */
p img {
   padding: 0;
   max-width: 100%;
}

img.centered {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img.alignright {
   padding: 4px;
   margin: 0 0 2px 7px;
   display: inline;
}

img.alignleft {
   padding: 4px;
   margin: 0 7px 2px 0;
   display: inline;
}

/* End Images */

/* Begin Lists in content */

html>body #content ul {
   list-style: none;
   margin: 1px 0;
   padding: 0 0 0 5em;
   text-indent: 0em;
   font: 10pt/12pt arial;
}

#content ol {
   margin: 1px 0 0 3em;
   padding: 0 0 0 0;
   text-indent: 0;
   list-style-type: decimal;
   font: 10pt/12pt arial;
}

#content ul li, #content ol li, #content dl li {
   margin: 5px 0;
   padding: 0;
}

#content ul, #content ol, #content dl {
   text-align: left;
}

/* End lists in content */

/* Begin lists in sidebar */

#sidebar ul ul li:before {
#   content: "\21B3 \0020";
}

#sidebar ul {
   margin: 0;
   padding: 0;
   list-style-type: none
}

#sidebar ul li {
   list-style-type: none;
   margin:0;
   padding: 0;
}

#sidebar ul ul {
   margin: 0 0 1ex 1em;
   padding: 0;
}

#sidebar ul ul li {
   margin: 0;
   padding: 0;
}

#sidebar li.sep {
   margin-top: 1ex;
}

/* End Lists in sidebar */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
   cursor: help;
}

acronym, abbr {
   border-bottom: 1px dashed #999;
}

blockquote {
   margin: 15px 30px 0 10px;
   padding-left: 20px;
   border-left: 5px solid #ddd;
}

blockquote cite {
   margin: 5px 0 0;
   display: block;
}

.center {
   text-align: center;
}

a img {
   border: none;
}

#addrblock {
   text-align: center;
   width: 100px;
}

#kw {
   border-collapse: collapse;
   width: 100%;
   border: 2px solid black;
}

#kw tr {
   height: 200;
}

#kw th, #kw td {
   border: 1px solid black;
   vertical-align: top;
   padding: 5px 10px 5px 10px;
}

#kw td:nth-child(odd) {
   background-color: #99e6e6;
   width: 200px;
}

#sub-kw {
   border-collapse: collapse;
   width: 100%;
   border: 2px solid black;
}

#sub-kw tr {
   height: 200;
}

#sub-kw th, #sub-kw td {
   border: 1px solid black;
   vertical-align: top;
   padding: 5px 10px 5px 10px;
}

#sub-kw td:nth-child(odd) {
   background-color: #ffffcc;
   width: 200px;
}

/* End various Tags & Classes */

/* Begin table (for autoindex only) */
